@{
    View.Title = "Wootstrap!";
    Layout = "~/Areas/Public/Views/Shared/_public.cshtml";
}

<h1>Wootstrap!</h1>

<p>@Url.Action("SignIn", "Session", new{ReturnUrl="test"})</p>
<p>@Url.Action("SignIn", "Session")</p>